<!DOCTYPE html>
<html xmlns:th="http://www.thyeleaf.org">
<head>
<th:block th:insert="~{fragments/common :: head('인덱스 페이지')}"></th:block>
<title>Insert title here</title>
</head>
<body>
	<nav th:replace="~{fragments/common :: header}"></nav>
	
	<!-- 실제 작업할 영역 -->
	<div class="container border py-3 mt-3">
    <form>
      <input type="hidden" id="id" th:value="${post.id}">
      <div class="mb-3">
        <label for="title">Title : </label> 
        <input type="text" class="form-control" id="title" 
        th:value="${post.title}">
      </div>
      <div class="mb-3">
        <label for="content">Content : </label>
        <textarea class="form-control" id="content"
        th:utext="${post.content}">
   </textarea>
      </div>

    </form>


    <hr>
    <button class="btn btn-secondary" onclick="history.back()">돌아가기</button>
    <button id="btn-update" class="btn btn-warning">수정완료</button>
  </div>
	
	
	<div th:replace="~{fragments/common :: footer}"></div>
	<div th:insert="~{fragments/common :: scripts}"></div>
	<script src="/js/post.js"></script>
</body>
</html>