<!DOCTYPE html>
<html xmlns:th="http://www.thyeleaf.org">
<head>
<th:block th:insert="~{fragments/common :: head('회원가입')}"></th:block>
<title>Insert title here</title>
</head>
<body>
	<nav th:replace="~{fragments/common :: header}"></nav>
	
	<!-- 실제 작업할 영역 -->
	<div class="container mt-3">
      <form action="/auth/join2" method="post">
        <div class="mb-3 mt-3">
          <label for="username" class="form-label">userName:</label>
          <input type="text" class="form-control" id="username" placeholder="Enter username" name="username">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password:</label>
          <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email:</label>
          <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
        </div>
        <button id="btn-save" type="submit" class="btn btn-primary">회원가입</button>
      </form>
   </div>
   
   
	<div th:replace="~{fragments/common :: footer}"></div>
	<div th:insert="~{fragments/common :: scripts}"></div>
	<script src="/js/user.js"></script>
</body>
</html>